* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;

    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    font-weight: 400;

    background-color: var(--primary-background-color);

    /* width: 1600px;
    margin: 0 auto; */
}

.list {
    list-style: none;
}

/* logo */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #000000;

    text-decoration: none;
}

.web {
    color: #2196F3;
}

/* header */
.site-nav a {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.contact-nav a {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.contact-nav a:hover,
.contact-nav a:focus {
    color: var(--accent-color);
}

/* шапка */
.hero-title {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero {
    background-color: #2F303A;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    cursor: pointer;

    color: #FFFFFF;
}

/* Особенности */
.features-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

/* Чем мы занимаемся */
.about h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);
}

/* Наша команда */
.team {
    background-color: var(--secondary-background-color);
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1/17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.team p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

/* footer */
.footer {
    background-color: #2F303A;
}

.contact-city a {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: #FFFFFF;
}

.contact-mail a,
.contact-tel a {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.contact-city a:hover,
.contact-city a:focus,
.contact-mail a:hover,
.contact-mail a:focus,
.contact-mail a:hover,
.contact-mail a:focus {
    color: var(--accent-color);
}

/* Портфолио */
.projects {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-color);

    background-color: #F5F4FA;

    cursor: pointer;
}

.projects:hover,
.projects:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.projects-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    
    color: var(--primary-color);
}

.projects-list p {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    
    color: var(--secondary-color);
}
